version: '3.8'
services:
  openwalla:
    build: .
    ports:
      - "3000:3000"
      - "8080:8080"
    container_name: Openwalla      
    environment:
      - ROUTER_IP=10.0.5.1
      - TZ=America/Los_Angeles
    volumes:
      - ./database:/app/Openwalla/databases
